{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title%}
News
{% endblock title%}

{% block content %}
<!--    {% if news %}-->
<!--       <p>Название:<br />Дата публикации:&nbsp;<br />Описание:</p>-->
<!--    {% else %}-->
<!--        <h2>Новостей нет</h2>-->
<!--    {% endif %}-->
<!--{{post.text}}-->
<br>

<h2 style="text-align: left;">{{post.title}}</h2>
<p style="text-align: left; text-indent: 25px;"><em>{{post.text| censor}}<br/></em></p><hr>
<p style="text-align: left;"><em>{{post.time_out|date:'d D M Y'}}</em></p>

{% endblock content %}